html, body{
    height: 100%;
    width: 100%;
}
.navigationBar{
    color: white;
    font-size: 20px;
    background: black;
    width: 100%;
}
.navA{
    margin: 0 15px;
}
.navA:hover{
    color: #c2af3d!important;
}
.navbar img{
    max-height: 60px;
    cursor: pointer;
}
footer{
    width: 100%;
    padding: 5% 5% 5% 5%;
    color: #bdbdbd;
}
.login {
    transition: opacity 0.5s;
    opacity: 1;
}

.login.hide {
    opacity: 0;
    pointer-events: none;
}